.nav {
  margin-left: 20px;
  margin-right: 5px;
}

.answer_partial {
  word-wrap: normal;
  margin-left: 100px;
  margin-top: 20px;
  border: 1px dotted #33CC33;
  width: 600px;
  background-color: #E0E0E0;
}
