.question-partial {
	border: 3px solid #33CC33;
	padding: 10px;
	margin: 10px;
  word-wrap: normal;
  width: 600px;
  background-color: #E0E0E0;
  border-radius: 30px;
}

.list-users {
  margin-top: 30px;
  margin-left: 30px;
  border: 3px solid #33CC33;
  border-radius: 30px;
}

.links {
  margin-top: 10px;
}

.q-list {
  margin-top: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 200px;
}



.new_answer {
 padding-top: 20px;
}