
<div class="list-users">
	<% if @questions %>
		<% @questions.each do |question| %>
			<%= render partial: 'question', locals: {question: question,
																							 comments: question.comments} %>
		<% end %>
	<% end %>
</div>


<!-- refactor with (render @questions) -->