<h1>question Index</h1>

<div class="list-users">
	<% if @questions %>
		<% @questions.each do |question| %>
			<%= render partial: 'question', locals: {question: question,
																							 comments: question.comments} %>
		<% end %>
	<% end %>
</div>

<%= link_to 'new questions', new_question_path %>
<!-- refactor with (render @questions) -->